#analyze {
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  width: 100%;
  background: url('../images/jungle4.jpg') no-repeat bottom right;
  display: table;
  color: #002823;
  background-color: #fcfefd;
}

#analyze-results {
  display: none;
  min-width: 100%;
  width: 100%;
  display: table;
  color: #002823;
}

#analyze a {
  display: table-cell;
  border-right: 1px solid #002823;
  border-bottom: 1px solid #002823;

}

#analyze a:last-child {
  border-right: none;
}

.survey {
  background-color: rgba(0,0,0,0.3);
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  width: 100%;
  margin: auto auto;
  display: inline-block;
  vertical-align: middle;
  padding-top: 3%;
  padding-bottom: 3%;
}

.survey:hover {
  background-color: rgba(0,0,0,0);
  min-width: 100%;
  width: 100%;
}

.survey p,
.survey h3,
.survey img {
  display: block;
  color: #002823;
  text-align: center;
  vertical-align: middle;
}

.survey:hover > p,
.survey:hover > h3,
.survey:hover > img {
  color: #005247;
}

.survey img {
  margin: 15px auto;
  display: block;
  color: #002823;
  text-align: center;
}

.survey_display_choice {
  line-height: 20px;
  margin-left: 60px;
  clear: both;
}

.survey_display_choice p,
.survey_display_choice span {
  display: inline;
  line-height: 16px;
  font-size: 14px;
  float: left;
}


.survey_display_choice span {
  margin-left: 20px;
  display: inline;
  line-height: 16px;
  font-size: 12px;
}

.survey_display_question {
  display: none;
  line-height: 30px;
  vertical-align: middle;
  margin-bottom: 12px;
  margin-top: 36px;
  margin-left: 20%;
}

.survey_display_question div h2,
.survey_display_question div img {
  font-size: 16px;
  display: inline-block;
  margin: auto;
  float: left;
}

.survey_display_question div img {
  margin-right: 30px;
  float: left;
  margin-bottom: 12px;
}

.survey_display_question:last-child {
  margin-bottom: 60px; 
}

.progress-analyze {
  margin-right: 36px;
  display: inline-block;
  height: 16px;
  min-height: 16px;
  width: 200px;
  min-width: 200px;
  border: 1px solid #002823;
  float: left;
}

.score-analyze {
  background: url('../images/analyze.jpg') repeat top left;
  height: 100%;
  min-height: 100%;
}

.progress-analyze p{
  font-size: 11px;
  width: 100%;
  text-align: center;
}

#bottom-analyze {
  min-height: 400px;
  height: 20%;
  min-width: 100%;
  width: 100%;
  background: url('../images/jungle4.jpg') no-repeat 100% 83.5%;
  margin: auto;
  color: #1b2d08;
  text-align: center;
  font-size: 26px;
  cursor: pointer;
}

#bottom-analyze a p {
  padding-top: 200px;
  color: #002823;
  font-size: 26px;
}

#top-analyze {
  min-width: 100%;
  width: 100%;
  background: url('../images/jungle4.jpg') no-repeat 100% 41.2%;
  margin: auto;
  color: #1b2d08;
  line-height: 60px;
  padding-top: 45px;
  padding-bottom: 45px;
  text-align: center;
}

#top-analyze h2 {
  margin: auto;
  color: #1b2d08;
}

#top-analyze p {
  margin: auto;
  color: #1b2d08;
}