* {
  font-family: "Open Sans", Helvetica, Arial;
  margin: 0;
  padding: 0;
  outline: 0;
  color: #d3d3d3;
  text-decoration: none;
  font-weight: 300px;
}

::-webkit-input-placeholder {
   color: #3f3f3f;
}

:-moz-placeholder { /* Firefox 18- */
   color: #3f3f3f;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #3f3f3f;  
}

:-ms-input-placeholder {  
   color: #3f3f3f;  
}

html {
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  width: 100%;
  background: url('../images/menu.png') repeat top left;
}

body {
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  width: 100%;
  display: block;
}

.container {
  margin: auto;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}

#menu {
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  width: 100%;
  display: table;
}

#nav,
#signin,
#signup {
  min-width: 100%;
  width: 100%;
  height: 66px;
  text-align: center;
}

#nav img.user {
  position: absolute;
  float: right;
  margin-top: 15px;
  right: 15px;
}

#nav p {
  display: inline;
  line-height: 60px;
  font-size: 18px;
}

#nav img:first-child {
  margin-left: 15px;
}

#nav img {
  display: inline-block;
  vertical-align: middle;
}

#nav img:last-child {
  margin-right: 15px;
}

#signin,
#signup {
  border-top: 1px solid #d3d3d3;
  display: none;
}

#signin form,
#signin p,
#signup form,
#signup p,
#logout a {
  display: inline;
  line-height: 60px;
  font-size: 18px;
}


#signin p,
#signup p {
  position: relative;
  float: right;
  margin-right: 24px;
  line-height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px dotted #3f3f3f;
  cursor: pointer;
}

#signin span,
#signup span {
  position: absolute;
  margin-left: 36px;
  line-height: 60px;
  color: #ff3500;
}

.create,
.take,
.visualize,
.share,
.create-black,
.visualize-black,
.take-black,
.share-black {
  width: 25%;
  height: 100%;
  min-width: 25%;
  min-height: 100%;
  display: table-cell;
  vertical-align: middle;
  -webkit-transition: width 0.3s, opacity 0.3s, margin 0.3s, top 0.35s;
  -moz-transition: width 0.3s, opacity 0.3s, margin 0.3s, top 0.35s;
  -ms-transition: width 0.3s, opacity 0.3s, margin 0.3s, top 0.35s;
  -o-transition: width 0.3s, opacity 0.3s, margin 0.3s, top 0.35s;
  transition: width 0.3s, opacity 0.3s, margin 0.3s, top 0.35s;
}

.share-black,
.create-black,
.visualize-black,
.take-black {
  width: 20%;
  min-width: 20%;
}

.create-black {
  background: url('../images/jungle1d.jpg') no-repeat center center;
}

.take-black {
  background: url('../images/jungle2d.jpg') no-repeat center center;
}

.visualize-black {
  background: url('../images/jungle4d.jpg') no-repeat center center;
}

.share-black {
  background: url('../images/jungle3d.jpg') no-repeat center center;
}

.create p,
.take p,
.visualize p,
.share p,
.create-black p,
.visualize-black p,
.take-black p,
.share-black p {
  text-align: center;
  color: #1c1c1c;
  font-size: 24px;
  height: 50%;
}

.create p,
.take p,
.visualize p,
.share p,
.create-black p,
.visualize-black p,
.take-black p,
.share-black p {
  text-align: center;
}
.create p {
  color: #385c10;
}

.create-black p {
  color: #1b2d08;
}

.take p {
  color: #5e0200;
}

.take-black p {
  color: #2e0100;
}

.visualize p {
  color: #005247;
}

.visualize-black p {
  color: #002823;
}

.share p {
  color: #ff3500;
}

.share-black p {
  color: #6f0000;
}

.create {
  background: url('../images/jungle1.jpg') no-repeat center center;
}

.take {
  background: url('../images/jungle2.jpg') no-repeat center center;
}

.visualize {
  background: url('../images/jungle4.jpg') no-repeat center center;
}

.share {
  background: url('../images/jungle3.jpg') no-repeat center center;
}


input {
  padding: 1px;
  background-color: transparent;
  border: none;
  text-align: center;
  border: 1px dotted #3f3f3f;
  cursor: pointer;
}