/*#welcome-text,*/
.survey-fields,
.section {
  display: none;
}

#welcome-text{
  display: none;
  margin: 45px auto;
  text-align: center;
}
#welcome-text div{
  max-width: 600px;
  width: 600px;
  margin: auto;
  text-align: justify;
  clear: both;
  display: block;
  margin-bottom: 45px;
}

#welcome-text div p{
  display: inline;
  font-size: 16px;
}

#welcome-text div img {
  display: inline-block;
  vertical-align: middle;
  padding-right: 15px;
}

#welcome-text div img {
  margin: 15px auto;
  color: #002823;
}

#welcome-text div img.user {
  margin: 15px auto;
  padding-left: 265px;
  float: none;
}

#new-survey,
#register {
  min-height: 100%;
  height: 100%;
  min-width: 100%;
  width: 100%;
  margin: auto;
  text-align: center;
}

#submit-survey,
#register-bottom {
  min-height: 400px;
  height: 20%;
  min-width: 100%;
  width: 100%;
  background: url('../images/jungle1.jpg') no-repeat 25% 70%;
  margin: auto;
  color: #1b2d08;
  text-align: center;
  font-size: 26px;
}

#new-survey h1,
#register h1 {
  min-width: 100%;
  width: 100%;
  background: url('../images/jungle1.jpg') no-repeat 25% 35%;
  margin: auto;
  color: #1b2d08;
  line-height: 60px;
  padding-top: 45px;
  padding-bottom: 45px;
}

.survey-form {
  margin-top: -150px;
  min-height: 100%;
  height: 100%;
  min-width: 100%;
  width: 100%;
}

#question_form {
  padding-top: 150px;
}

.survey-form input,
.survey-form textarea {
  display: block;
  margin: 24px auto;
  background-color: transparent;
  text-align: left;
  min-width:400px;
  border: none;
}

.survey-form textarea {
}

.survey-form  li {
  display: inline-block;
  margin-left: 150px;
  margin-top: 45px;
}

.section {
  min-width:400px;
  margin: 24px auto;
}

.question_add {
  text-align: left;
  min-width: 400px;
}

a.addQuestion,
a.remNew {
  height: 30px;
}

a.remNew {
  margin-right: 47px;
  height: 30px;
}

input.question {
  display: inline;
  float: left;
  margin: 0;
  line-height: 30px;
}
.survey-form  li img{
  display: inline;
  float: left;
  margin-right: 15px;
}

.choice_add p {
}

.choice_add p:first-child {
  margin-left: 195px;
}

.choice_add input,
.choice_add a {
  display: inline;
}



.choice_add p input{
  text-align: left;
  min-width: 400px;
  margin-top: 6px;
  margin-bottom: 6px;
}

a.addChoice {
  margin-right: 18px;
}
a.remChoice {
  margin-right: 43px;
  margin-left: 2px;
}

.survey-fields p,
.survey-fields input[type="checkbox"] {
  display: inline;
  line-height: 40px;
  margin-right: 38px;
}

.survey-fields input[type="checkbox"]  {
    -webkit-appearance: none;
    border: 1px solid #4db017;
    position: relative;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 14px;
    width: 30px;
    height: 30px;
    font-size: 18px;
}

.survey-fields input[type="checkbox"]:checked:after {
    content: '\295';
    font-size: 28px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    color: #4db017;
    background-color: #4db017;
}