#share {
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  width: 100%;
  background: url('../images/jungle3.jpg') no-repeat bottom left;
  display: table;
  color: #ff3500;
  background-color: #fcfefd;
}

#share-results {
  display: none;
  min-width: 100%;
  width: 100%;
  display: table;
  color: #ff3500;
}

#share a {
  display: table-cell;
  border-right: 1px solid #ff3500;
  border-bottom: 1px solid #ff3500;

}

#share a:last-child {
  border-right: none;
}

.survey-share {
  background-color: rgba(0,0,0,0.3);
  min-width: 100%;
  height: 100%;
  width: 100%;
  margin: auto auto;
  display: inline-block;
  vertical-align: middle;
  padding-top: 10%;
}

.survey-share:hover {
  background-color: rgba(0,0,0,0);;
  min-width: 100%;
  width: 100%;
}

.survey-share p,
.survey-share h3,
.survey-share img {
  display: block;
  color: #6f0000;
  text-align: center;
  vertical-align: middle;
}

.survey-share:hover > p,
.survey-share:hover > h3,
.survey-share:hover > img {
  color: #6f0000;
}

.survey-share img {
  margin: 15px auto;
  display: block;
  color: #ff3500;
  text-align: center;
}

#bottom-share,
#share-survey {
  min-height: 400px;
  height: 20%;
  min-width: 100%;
  width: 100%;
  background: url('../images/jungle3.jpg') no-repeat 0% 83.5%;
  margin: auto;
  color: #6f0000;
  text-align: center;
  font-size: 26px;
}

#bottom-share a p {
  padding-top: 200px;
  color: #ff3500;
  font-size: 26px;
}

#top-share,
#new-share h1 {
  min-width: 100%;
  width: 100%;
  background: url('../images/jungle3.jpg') no-repeat 0% 41.2%;
  margin: auto;
  color: #6f0000;
  line-height: 60px;
  padding-top: 45px;
  padding-bottom: 45px;
  text-align: center;
}

input#share-survey {
  background: url('../images/jungle3.jpg') no-repeat 0% 87.5%;
  cursor: pointer;
  border: none;
}
#new-share h1{
  background: url('../images/jungle3.jpg') no-repeat 0% 48.5%;
}


#top-share h2 {
  margin: auto;
  color: #6f0000;
}

#top-share p {
  margin: auto;
  color: #6f0000;
}


#new-survey,
#register {
  min-height: 100%;
  height: 100%;
  min-width: 100%;
  width: 100%;
  margin: auto;
  text-align: center;
}
.new-mail {
  display: none;
  text-align: left;
  min-width: 400px;
}

a.add-email,
a.remMail {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 30px;
  line-height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px dotted #3f3f3f;
  cursor: pointer;
}

a.remMail {
  margin-right: 14px;
  height: 30px;
}

input.email-share {
  display: inline;
  margin: 0;
  line-height: 30px;
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 4px;
}

.new-mail:first-child input.email-share {
margin-right: 0;
}
.new-mail img{
  display: inline;
  margin-right: 11px;
  vertical-align: middle;
  border: 1px solid #ff4900;
  margin-bottom: 1px;
}

.new-mail:first-child img {
  margin-right: 7px;
}

.share-form {
  text-align: center;
}

.new-mail {
  text-align: center;
  margin: auto;
  vertical-align: middle;
  margin-top: 5px; 
  margin-bottom: 5px; 
}

.new-mail:first-child {
  text-align: center;
  margin-top: 40px;
}

.new-mail:last-child {
  text-align: center;
  margin-bottom: 40px;
}
