<div id="nav">
  <p>Survey</p>
  <a href="/">
    <img src="../images/create.jpg" name="logo"><img src="../images/answer.jpg" name="logo"><img src="../images/analyze.jpg" name="logo"><img src="../images/share.jpg" name="logo">
  </a>
  <p>Jungle</p>
  <img src="../images/user.png" name="user" class="user">
</div>