<div>
  <form>
  <div>
  	<div><h5>Question #{question#}:</h5>
  		Title: <br><input type="text">
  	</div>         
        
    <div>
      Description: <br><textarea></textarea>
    </div>  
  </form>  
  <div><%= #add choices here %></div>    
</div>

<div>
  <div>
    <h5>Choice Type:</h5>
    <form>
      <input type="radio">Multiple Choice<br>
      <input type="radio">Text Field<br>
    </form>
  </div>

  
  <input type="submit" value="Add Another Choice">
</div>