<div class="container">

  <div id="menu">
    <div class="create"><p>Create</p></div>
    <div class="take"><p>Answer</p></div>
    <div class="visualize"><p>Analyze</p></div>
    <div class="share"><p>Share</p></div>
  </div>
  
</div>
