<div class="container">
  <h1>Welcome to Survey Jungle!</h1>
  <p>A STRB Production</p>

  <form action="/survey" method="post">
    <input type="text">
  <input type='submit' value='submit'>
  </form>
</div>



