<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/analyze.css">
  <link rel="stylesheet" href="/css/answer.css">
  <link rel="stylesheet" href="/css/create.css">
  <link rel="stylesheet" href="/css/share.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/user.js"></script>
  <script src="/js/survey_participation.js"></script>
  <script src="/js/style.js"></script>
  <script src="/js/share.js"></script>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>

  <title>Survey Jungle</title>
</head>
<body>
  <%= erb :_nav %>

  <div id="signin"><%= erb :_signin %></div>
  <div id="signup"><%= erb :_signup %></div>
  <%= yield %>
</body>
</html>
