<div calss="container">
  <div class="register">
    <h1>Welcome on Survey Jungle</h1>
    <p>To enjoy all our features, you should register</p>
    <p>Here you can create survey, with as many questions as you need, and for each question, as many choices as you need. From your Analyse dashboard, you can see all your surveys, and the ones you participated to.</p>
    <p>Last but not least, you can invite your collaborators and friends to answer your survey by using the Share dashboard.</p>
  </div>
</div>