<div calss="container">
  <div id="register">
    <h1>Welcome to Survey Jungle</h1>
    <div id="welcome-text">
      <div>
        <p>To enjoy all our features, you should register by going over this little guy below</p>
        <img src="../images/user.png" name="user" class="user">
      </div>
      <div>
        <img src="../images/create.jpg">
        <p>Here you can create survey, with as many questions as you need, and for each question, as many choices as you need.</p>
      </div>
      <div>
        <img src="../images/answer.jpg">
        <p>Answer surveys, fast and easy in just a few clicks.</p>
      </div>
      <div>
        <img src="../images/analyze.jpg">
        <p>From your Analyze dashboard, you can see all your surveys, and the ones you participated in.</p>
      </div>
      <div>
        <img src="../images/share.jpg">
        <p>Last but not least, you can invite your collaborators and friends to answer your survey by using the Share dashboard.</p>
      </div>
    </div>
  </div>
  <div id="register-bottom"></div>
</div>