<div calss="container">
  <div id="register">
    <h1>Welcome on Survey Jungle</h1>
    <div id="welcome-text">
    <p>To enjoy all our features, you should register by going over this little guy below</p><img src="../images/user.png" name="user" class="user">
    <p>Here you can create survey, with as many questions as you need, and for each question, as many choices as you need. From your Analyse dashboard, you can see all your surveys, and the ones you participated to.</p>
    <p>Last but not least, you can invite your collaborators and friends to answer your survey by using the Share dashboard.</p>
    </div>
  </div>
  <div id="register-bottom"></div>
</div>