<head>Create your survey</head>
<body>
	<div>
      <h1>Survey Name</h1>
      <p>Survey Description</p>
	</div>
	
	<div>
		_qustion partial
	</div>

	<div>
		<form>
			<input type='submit' value='Submit Survey'></input>
		</form>
	</div>
</body>

