<div class="container">
  <div id="new-survey">
      <h1>Create your survey</h1>
    <div class="survey-form">

      <form id="question_form" action='/survey' method='post'>
        <div class="survey-fields">
          <input type="text" name="title" placeholder="Survey Title">
          <textarea type="text" name="description" placeholder="Describe your survey"></textarea>  
          <input type="checkbox" name="open" value="true">  

        </div>
        <div class="section">
          <ol class="addinput">

            <div class="question_section"> 

              <span class="question_add">
                <p></p>
                  <li>
                    <img src="../images/create.jpg">
                    <input class="question" type="text" name="questions[][question]"  placeholder="Question">
                    <a href="#" class="addQuestion">
                      Add Question
                    </a>
                  </li>
                <p></p>
              </span>

              <span class="choice_add">
                <p>
                  <input class="choice" type="text" name="questions[][choices][]" placeholder="Choice">
                  <a href="#" class="addChoice">
                    Add Choice
                  </a>
                </p>
              </span>
            </div>   
          </ol>

        </div>
        <input type="submit" value="Submit Survey" id="submit-survey">

      </form>

    </div>
  </div>
</div>