<head>Create your survey</head>
<body>
  <div>
    <h3>Survey Name: <input type="text"></h3>
      <p>Survey Description <textarea type="text">Enter your survey description here...</textarea></p>
  </div>

  <div>
    <%= #add _question here %>
  </div>

  <div>
    <form>
      <input type="submit" value="Add New Question">
      <input type='submit' value='Submit Survey'>
    </form>
  </div>
</body>

