<head>Create your survey</head>
<body>
	<div>
      <h3>Survey Name: <input type="text"></h3>
      <p>Survey Description <input type="text"></p>
	</div>
	_quetion

	<div>
		<form>
			<input type='submit' value='Submit Survey'></input>
		</form>
	</div>
</body>

