<h1>Create your survey</h1>

<div class="question">

  <form id="question_form" action='/survey' method='post'>

    <div class="survey">
      <input type="text" name="title" placeholder="Survey Title"><br><br>
      <textarea type="text" name="description" placeholder="Describe your survey"></textarea><br>    
    
    </div>

    <div class="section">
      <ol class="addinput">

        <div class="question_section"> 

          <span class="question_add">
            <p>
              <li>
                <input class="question" type="text" name="question1"  placeholder="Question">
                <a href="#" class="addQuestion">
                  Add Question
                </a>
              </li>
            </p>
          </span>

          <span class="choice_add">
            <p>
              <input class="choice" type="text" name="choice1" placeholder="Choice">
              <a href="#" class="addChoice">
                Add Choice
              </a>
            </p>
          </span>
        </div>




        
      </ol>

    </div>
    <input type="submit" value="Submit Survey">

  </form>
  
</div>
