<h1>Create your survey</h1>

<div class="survey">
  <form id="survey_form" action="/survey" method="post">
    <input type="text" name="title" placeholder="Survey Title"><br><br>
    <textarea type="text" name="description"></textarea><br>    
    <input type="submit" value="Create a Survey">    
  </form>
</div>



<div class="question">

<!--   <form id="question_form" action='/survey' method='post'> -->

    <div id="addinput">
      <p>
        <input id="question" type="text" name="p_new"  placeholder="Question"><a href="#" id="addNew">Add</a>
      </p>
    </div>

<!--   </form> -->
  
</div>
