<% if @user %>

<p><a href="/logout">Logout</a></p>

<% else %>

<div class="signin">
  <form action='/signin' name="signin" method='post'>
    <input type="text" name="username" required placeholder="Username">
    <input type="password" name="password" required placeholder="Password">
    <input type="submit" value="Sign in!">
  </form>
</div>
<div class="signup">
  <form action='/signup' name="signup" method='post' autocomplete="off">
    <input type="text" name="username" required placeholder="Username">
    <input type="password" name="password" required placeholder="Password">
    <input type="text" name="email" required placeholder="Email">
    <input type="submit" value="Join Us!">
  </form>
</div>

<% end %>